/* Scrolling behavior for the entire page fluidly scrolls to the target section when a navigation link is clicked */
html {
	scroll-behavior: smooth;
}

:root {
	/* 1. Primary color*/
	--color-primary: #d73953;
	--color-black:  #090909;
	--color-white: #ffffff;
	--color-light-grey: #f3f3f3;
	--color-dark-grey: #353535;

	--text-color: var(--color-black);
}

.section-tagline,
.card-category {
	color: var(--color-primary);
}

body 
a{
	color: var(--text-color);
}
